body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
html {
  /* The image used */
  background-color: white;

  height: 100vh;
}

div {
  padding: 20px;
}

.App {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h1 {
  padding: 30px;
  margin-bottom: 50px;
}
